$text-primary-color: #000000;
$text-secondary-color: #93918F;
$button-default-color: #FDB755;
$button-text-color: #FFFFFF;
$link-color: #0087FF;
$title-font: Bitter;
$text-font: Montserrat;
$text-font-size: 16px;
$header-lg-font-size: 38px;
$header-md-font-size: 24px;
$footer-text-font-size: 14px;
$text-line-height: 27px;