@import './reset.scss';

$text-primary-color: #000000;
$text-secondary-color: #93918F;
$button-default-color: #FDB755;
$button-text-color: #FFFFFF;
$link-color: #0087FF;
$title-font: Bitter;
$text-font: Montserrat;
$xs-font-size: 14px;
$sm-font-size: 16px;
$md-font-size: 24px;
$lg-font-size: 38px;
$text-line-height: 27px;

html, body {
  color: $text-secondary-color;
  font-family: $text-font;
}

.title {
  color: $text-primary-color;
  font-family: $title-font;
}

h1, h2, h3, h4, h5 {
  @extend .title;
}

h1 {  
  font-size: $lg-font-size;
}

h2 {
  font-size: $md-font-size;
}

a {
  color: $link-color;
  text-decoration: none;
}

button {
  background-color: $button-default-color;
  color: $button-text-color;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  height: 36px;
  width: 217px;
  font-weight: normal;
  font-size: $xs-font-size;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  height: 100px;
}

.header-links-wrapper > * + * {
  margin-left: 25px;
}

.header-link {
  color: $text-secondary-color;
}

.footer {
  height: 100px;
  width: 100%;
  max-width: 940px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}

.footer-link {
  color: $text-secondary-color;
  font-size: $xs-font-size;
}

.hero-section {
  max-width: max-content;
  margin: 27px auto 0;
}

.hero-section-element {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: max-content;
}

.hero-section-title {
  @extend .hero-section-element;
  font-weight: normal;
  color: $text-primary-color;
  font-family: $title-font;
  font-size: $lg-font-size;
  height: 46px;
}

.hero-section-subtitle {
  @extend .hero-section-element;
  height: 20px;
  margin-top: 20px;
}

.hero-section-button {
  @extend .hero-section-element;
  margin-top: 45px;
}

.reddit-javascript-link {
  @extend .hero-section-element;
  color: $text-secondary-color;
  margin-top: 46px;
  height: 20px;
}

.hero-section-heatmap {
  @extend .hero-section-element;
  margin-top: 37px;
}


.info-section {
  margin: 133px auto 99px;
  width: 100%;
  max-width: 738px;
}

.info-heading {
  @extend .title;
  font-size: $md-font-size;
}

.info-description {
  margin-top: 12px;
}

.info-text {
  $sm-font-size: 16px;
  line-height: $text-line-height;
}

.info-list {
  list-style-type: none;
  padding: 0;
  ::before {
    content: "• ";
  }
}