@import './reset.scss';

$text-primary-color: #000000;
$text-secondary-color: #93918F;
$button-default-color: #FDB755;
$button-text-color: #FFFFFF;
$link-color: #0087FF;
$title-font: Bitter;
$text-font: Montserrat;
$text-font-size: 16px;
$header-lg-font-size: 38px;
$header-md-font-size: 24px;
$footer-text-font-size: 14px;
$text-line-height: 27px;

html, body {
  color: $text-secondary-color;
  font-family: $text-font;
}

h1, h2, h3, h4, h5 {
  color: $text-primary-color;
  font-family: $title-font;
}

h1 {  
  font-size: $header-lg-font-size;
}

h2 {
  font-size: $header-md-font-size;
}

a {
  color: $link-color;
  text-decoration: none;
}

button {
  background-color: $button-default-color;
  color: $button-text-color;
  text-transform: uppercase;
  width: 217px;
  height: 36px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  height: 100px;
}

.header-links-wrapper > * + * {
  margin-left: 25px;
}

.header-link {
  color: $text-secondary-color;
}